.landingPage,
.loginPage,
.signupPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.landingTitle {
  margin-top: 300px;
  font-family: var(--bodyFont);
  font-weight: 900;
  font-size: 2.1rem;
}

.landingHanger {
  margin-top: 7rem;
  height: 181px;
  width: 284px;
  margin-bottom: 1rem;
}

.landingText {
  margin-top: 5rem;
  text-align: center;
}

.landingPara {
  margin-bottom: 1rem;
}

.landingButtons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2.5rem;
}

.landingButton {
  text-align: center;
  margin: auto;
  width: 85vw;
}

.loginButton,
.signupButton {
  margin: auto;
  border: none;
  width: 176px;
}

.logInForm,
.signupForm {
  box-shadow: none;
  width: calc(100% - 32px);
}

.loginInputContainer {
  margin-top: 0.5rem;
}

.loginInput {
  width: 100%;
}

.loginSignupLink {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  font-family: var(--body-font);
  font-size: var(--body-text-size);
}

.signUpLink {
  color: var(--forestGreen);
  font-size: var(--bodyTextSize);
  font-weight: var(--fontWeightBold);
}

.loginHanger {
  margin-top: 7rem;
  height: 141px;
  width: 222px;
  margin-bottom: 5rem;
}
