.formButton {
  margin: auto;
  margin-top: -32px;
}

.imageInput {
  display: flex;
  flex-direction: column;
}

form .fileInput {
  display: none;
}

.formImagePreview {
  width: calc(100% - 4px);
  max-width: 209px;
  height: 221px;
  object-fit: cover;
  margin: auto;
  display: block;
  border-radius: 8px;
}

.itemForm {
  margin-top: 48px;
  box-shadow: none;
}
