.blogTop {
  position: fixed;
  top: 0;
  background-color: var(--white);
  width: 100%;
}

.blogHeading {
  margin-bottom: 8px;
  top: 16px;
  position: fixed;
}

.blogPara {
  margin-bottom: 16px;
  margin-top: 64px;
}

.blogSearchBar {
  width: 100% !important;
  margin-bottom: 16px;
}

.searchBarInput {
  width: 100% !important;
}

.blogArticleCardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  margin-top: 180px;

  z-index: -1;
}
