.blogHeading {
  margin-bottom: 8px;
  top: 16px;
  position: fixed;
}

.blogPara {
  margin-bottom: 16px;
  margin-top: 64px;
}

.blogSearchBar {
  width: 100%;
}

.blogArticleCardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  margin-top: 16px;
}
