.wishlistContentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 16px;
}

.listBearImageContainer {
  height: 166px;
  width: 132px;

  margin: auto;
  margin-top: 90px;
  margin-bottom: 32px;
}

.listBearImage {
  height: 100%;
}

.wishlistSubheading {
  margin: auto;
}

.wishlistPara {
  margin-top: 16px;
  text-align: center;
}

.wishlistAddButton {
  position: absolute;
  right: 16px;
  bottom: 88px;
}

/* add list page */

.addListHeadingContainer {
  margin-top: 16px;
  display: flex;
}

.addListContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 64px;
}

.wishlistHanger {
  height: 57px;
  margin-bottom: 32px;
}

.addListTitle {
  width: 100%;
}

.wishlistSuggestionHeading {
  margin-top: 32px;
}

.wishlistSuggestionContainer {
  margin-top: 16px;
  margin-bottom: 72px;
  display: flex;
  gap: 8px;
}

.wishlistSuggestionItem {
  background-color: var(--blue100);
  border-radius: 24px;
  padding: 8px 16px;
}

.createlistButton {
  width: calc(100% - 16px);
}

.listCardsContainer {
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* wishlist details page */
.wishlistDetailsPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wishlistDetailsContentContainer {
  display: flex;
  margin-top: 32px;
  align-items: center;
}

.wishlistHangerImage {
  height: 94px;
}

.hangerImageContainer {
  height: 94px;

  margin-top: 180px;
  margin-bottom: 64px;
}

.wishlistBackArrow {
  position: fixed;
  left: 16px;
}
