.headingWithImageHeading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
}

.smallImageChild {
  height: 40px;
  width: 60px;
  border-radius: 8px;
  object-fit: cover;
}
