.itemCardContainer {
  width: 177px;
  border-radius: 8px;
  height: 187px;
  box-shadow: var(--boxShadow);
}

.itemCardImage {
  width: 177px;
  height: 187px;
  object-fit: cover;
  border-radius: 8px;
}
