.profileBackgroundImageContainer {
  z-index: 1;
}

.userProfileDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -65px;
  gap: 8px;
  margin-bottom: 32px;
  box-shadow: var(--boxShadow);
  background-color: var(--white);
  z-index: 2;
  position: fixed;
  border-radius: 8px;
  width: calc(100% - 32px);
}

.userProfileImageContainer {
  position: relative;
  width: 134px;
  margin-top: -65px;
}

.profileEditIcon {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 5px;
}

.userProfileName {
  margin-bottom: 32px;
  margin-top: -8px;
}

.userProfilePara {
  margin-bottom: 16px;
}

.userProfileStatsContainer {
  display: flex;
  align-items: center;
  gap: 32px;
  width: 340px;
  justify-content: space-around;
  margin-bottom: 16px;
}

.userProfileStat {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profileOrder {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.userProfileChildren {
  width: calc(100% - 32px);
}

.userProfileChildrenHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
