.homeQuote {
  margin-bottom: 16px;
}

.HomePlusIcon {
  position: absolute;
  bottom: 88px;
  right: 24px;
  position: fixed;
  height: 45px;
  width: 45px;
}

.childCardsContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/*modal code*/
.addChildModal,
.addItemModal,
.infoModal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.addChildModalContent {
  background-color: var(--white);
  position: fixed;
  bottom: 0;
  width: 350px;
  left: 50%;
  transform: translateX(-50%);
  padding: 16px;
  border-radius: 16px;
  height: 88%;
  align-items: center;
}

.closeModal {
  display: flex;
  justify-content: end;
  color: var(--black);
}

/*Home child added / success pages code*/

.successPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 190px;
  margin-bottom: 24px;
  gap: 16px;
}

.successPageContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-top: 64px;
}

.successPageButtons {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.successPageButton {
  width: 220px !important;
}

/*Child Overview code */

.childOverviewSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 24px;
  margin-bottom: 24px;
  gap: 16px;
  overflow: hidden;
}

.childOverviewArticleContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: var(--boxShadow);
  border-radius: 8px;
  width: calc(100% - 6px);
  justify-items: flex-start;
}

.childOverviewArticleImageContainer {
  width: 100%;
  max-width: 100px;
  height: 167px;
  margin-left: 25px;
  display: flex;
  align-items: center;
  margin-right: 25px;
}

.childOverviewArticleImageWardrobe {
  height: 167px;
  width: 100px;
}

.reuseImage {
  height: 100px;
  width: 100px;
  object-fit: cover;
}

.childOverviewArticleImageEdit {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  object-fit: cover;
}

.childOverviewArticleHeading {
  display: flex;
  flex-wrap: wrap;
  max-width: 185px;
  margin-right: 25px;
}

.childOverviewArticleContainerWardrobe {
  height: 217px;
}
.childOverviewArticleContainerDeclutter {
  height: 174px;
}

.childOverviewArticleContainerEdit {
  height: 174px;
  margin-bottom: 6px;
}

.childOverviewArticleImageEditIcon {
  position: absolute;
  margin-left: 75px;
  margin-top: 75px;
}

/*wardrobe code*/

.wardrobeInputFilters {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 24px;
}

.wardrobeSearchBar {
  width: 64%;
}

.wardrobeAgeDropdown {
  width: 38%;
}

.wardrobeSortOptions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 24px;
}

.wardrobeSortOption {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wardrobeSortImage {
  height: 53px;
  width: 53px;
}

.wardrobeItemsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;

  margin-top: 24px;
}

.wardrobeNoItems {
  width: 200%;
}

/*item overview code*/
.itemOverviewHeading {
  margin-bottom: 40px;
}

.itemOverviewContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-top: 24px;
}

.itemOverviewImageContainer {
  width: calc(100% - 4px);
  max-width: 209px;
  height: 221px;
  object-fit: cover;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.itemOverviewImage {
  width: calc(100% - 4px);
  max-width: 209px;
  height: 221px;
  object-fit: cover;
  border-radius: 8px 0px 0px 8px;
}

.itemOptionButton {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: space-between;
  align-items: center;
  margin-top: 14.5px;
  border-radius: 0px 8px 8px 0px;
  border: none;
  background-color: var(--blue100);
  padding: 12px 4px;
  color: var(--forestGreen);
  width: 50px;
  height: 64px;
  font-size: var(--bodyTextSmallSize);
}

.selected {
  fill: var(--white);
}

.notSelected {
  fill: var(--forestGreen);
}

.itemOptionButton.selected {
  background-color: var(--grassGreen);
  color: var(--forestGreen);
}

.infoContainer {
  position: absolute;
  top: 165px;
  right: 16px;
}

.itemOverviewDetails {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  margin-bottom: 40px;
  gap: 32px;
}

.itemOverviewInfoContainer {
  display: flex;
  flex-direction: row;
}

.itemOverviewInfoHeading {
  font-weight: var(--fontWeightBold);
  width: 88px;
}

.itemOverviewButtons {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 24px;
  gap: 8px;
}

.itemOverviewButton {
  flex: 1;
}

.deleteItemButton {
  color: var(--forestGreen);
  background-color: var(--white);
  border-radius: 24px;
  font-family: var(--bodyFont);
  font-size: var(--bodyTextSize);
  font-weight: var(--fontWeightBold);
}

.editItemArrowBack {
  margin-top: 24px;
}

/*information modal code*/

.infoHeading {
  width: calc(100% - 32px);
}

.infoIntro {
  display: flex;
  margin-top: 130px;
}

.infoImageContainer {
  height: 51px;
  width: 32px;
  margin-right: 12px;
}

.infoImage {
  height: 51px;
  width: 32px;
}

.infoIntroText {
  font-size: var(--bodyTextSmallSize);
}

.infoOptions {
  margin-top: 32px;
  margin-bottom: 32px;
}

.infoTip {
  font-size: var(--bodyTextSmallSize);
  margin-bottom: 32px;
}

.infoColour {
  color: var(--grassGreen) !important;
  font-size: var(--bodyTextSize);
  font-weight: var(--fontWeightBold);
  text-decoration: none;
}

.infoButton {
  width: calc(100% - 32px) !important;
}

.declutterIntro1 {
  text-align: center;
  margin-top: 40px;
  font-weight: var(--fontWeightMedium);
}

.declutterIntro2 {
  text-align: center;
  margin-top: 16px;
  font-weight: var(--fontWeightMedium);
  margin-bottom: 40px;
}

.declutterArticle {
  display: flex;
  flex-direction: row;
  box-shadow: var(--boxShadow);
  height: 146px;
  margin-bottom: 24px;
}

.declutterArticleLeft {
  width: 120px;
}

.declutterArticleRight {
  width: calc(100% - 126px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.declutterArticleText {
  margin-left: 16px;
  margin-right: 16px;
}

/* Option pages code */

/* Thanks page code */
.thanksHeading {
  margin-bottom: 40px;
}
.thanksContent {
  margin-top: 210px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.thanksPartyPopper {
  margin-bottom: 40px;
  margin-top: 65px;
}

.thanksPara1 {
  margin-bottom: 16px;
}

.thanksPara2 {
  margin-bottom: 8px;
}

.thanksPara3 {
  font-weight: var(--fontWeightMedium);
  font-size: 3.5rem;
  margin-bottom: -8px;
}

.thanksPara4 {
  margin-bottom: 48px;
}
