.formButton {
  margin: auto;
  margin-top: -32px;
}

.imageInput {
  display: flex;
  flex-direction: column;
}

form .fileInput {
  display: none;
}

.imagePreview {
  width: calc(100% - 4px);
  max-width: 346px;
  height: 200px;
  object-fit: cover;
  margin: auto;
  display: block;
  border-radius: 8px 24px 8px 24px;
}

.childForm {
  margin-top: 48px;
  width: calc(100% - 32px);
  box-shadow: none;
}

.formFlex {
  display: flex;
  flex-direction: row;
}

.errorMessage {
  margin-bottom: 24px;
}
