.editChildPage {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
}

.editChildHeader {
  display: flex;
  align-items: center;
  margin-top: 16px;
}

.deleteChildButton {
  width: 120px;
  padding: 10px;
  margin: auto;
  border-radius: 24px;
  color: var(--forestGreen);
  font-weight: var(--fontWeightBold);
  margin-top: -16px;
}

.deleteChildButtonText {
  font-weight: var(--fontWeightBold);
  color: var(--forestGreen);
}

.childDeletedPage {
  display: flex;
  flex-direction: column;
  margin-top: 16px !important;
  align-items: center;
}

.deletedChildHeading {
  margin-top: 220px;
}

.childDeletedCheckmark {
  height: 80px;
  width: 80px;
  margin-bottom: 32px;
  margin-top: 290px;
}

.deletedChildButton {
  margin-top: 32px;
}

.deletedItemButton1 {
  margin-top: 32px;
  width: 204px;
}

.deletedItemButton2 {
  margin-top: 16px;
  width: 204px;
}

.childUpdatedButton {
  width: 204px;
  margin-bottom: 16px;
}

.childUpdatedPara1 {
  margin-bottom: 16px;
}

.childUpdatedPara2 {
  margin-bottom: 32px;
}
