.error404Page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.errorImageContainer {
  margin-top: 200px;
  margin-bottom: 48px;
}

.errorButton {
  margin-top: 32px;
}

.errorHeading {
  margin-top: -360px;
  font-size: 2.1rem;
}
